.khan__buy-link{
  margin:0;
  padding: 0;
  text-decoration: none;
  line-height:42px;
  font-size:30px;
  color: #2f80ed;
  vertical-align: top;
  opacity: 1;
}
.khan__buy-link:hover{
  transition: opacity .5s ease;
  opacity: 0.5;
}