.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  padding: 0;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}
h1{
  line-height: 1.15;
  font-size: 120px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
h2{
  line-height: 96px;
  font-size: 102px;
  margin: 0;
  padding: 0;
}
h3{
  line-height: 1.15;
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
h4{
  line-height: 34px;
  font-size: 24px;
  font-weight:normal;
  margin: 0;
  padding: 0;
}
h5{
  line-height: 51px;
  font-size: 36px;
  font-weight:normal;
  margin: 0;
  padding: 0;
}
h6{
  line-height: 1.2;
  font-size: 18px;
  font-weight:normal;
  margin: 0;
  padding: 0;
}
.header {
  height: 110vh;
  min-height: 600px;
  max-height: 756px;
  margin: 0;
  background-color: #f2f2f2;
  position: relative;
  display:flex;
  /* выше установили ограничения для секции */
}
.logo_place_header{
  width: 228px;
  height: 32px;
  position:absolute;
  top:30px;
  left:64px;
  z-index: 5;
}
.title_place_header{
  display:flex;
  position: relative;
  align-self: center;
  width:730px;
  margin-left: 64px;
  z-index: 5;
}
.subtitle_place_header{
  width:388px;
  display:flex;
  position: absolute;
  left:64px;
  bottom:30px;
  line-height: 25px;
  font-size:18px;
  z-index: 5;
}
.subtitle-link_place_header{
  color: #2f80ed;
  text-decoration: none;
}
.main-illustration{
  display:flex;
  position: absolute;
  bottom:0;
  right: 0;
  z-index: 1;
}
.header__main-illustration_pic{
  width: 765px;
  height: 608px;
}
/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  display:flex;
  right:0;
  top:64px;
  background-color: #2f80ed;
  z-index: 0;
}
/* секция description и ее классы*/
.description{
  margin:100px 0;
  padding:0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.two-columns{
  display: flex;
  width: 80%;
  justify-content: space-between;
}
.brief{
  display: flex;
  height: 100%;
  width: 175px;
  color: #2f80ed;
}
.main-text{
  display: flex;
  width: 80%;
  min-width: 784px;
  flex-direction: column;
  align-items: flex-start;
}
.paragraph{
  margin-top:0;
  line-height: 34px;
  font-size: 24px;
  margin-bottom:30px;
}
.span-accent{
  font-weight: 700;
}
/*секция digits и ее классы*/
.digits{
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.section-title{
  width: 60%;
  margin-bottom: 20px;
  margin-top: 100px;
  text-align:center;
}
.section-subtitle{
  width: 60%;
  text-align:center;
}
.table {
  width:1100px;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  z-index: 5;
}
.table__cell{
  width: 250px;
  margin-top: 60px;
}
.table__cell_heading{
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
}
.table__cell_text{
  margin-top:20px;
  line-height: 1.2;
  font-size: 18px;
}
/*секция feynman и ее классы */
.feynman{
  margin-top: 100px;
  min-width: 867px;
  min-height:637px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}
.feinman__illustration{
  display:flex;
  position: absolute;
  bottom:0;
  left: 0;
  z-index: 0;
}
.feinman__illustration-pic{
  width: 867px;
  height:637px;
}
.feynman__block{
  width: 648px;
  margin-top: 100px;
  margin-bottom: 70px;
  text-align:center;
  z-index: 5;
}
.feynman__block-title{
  line-height: 1.15;
  font-size: 120px;
  font-weight: 700;
}
.feynman__subtitle{
  display: flex;
  position: relative;
  z-index: 5;
}
.feynman__link{
  display: flex;
  position:absolute;
  top:50%;
  right: 48px;
  z-index: 5;
}
.feynman__link_decoration{
  color: #2f80ed;
  text-decoration: none;
}
/*секция kaufman и ее классы */
.kaufman{
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #1f1f1f;
  position: relative;
}
.kaufman__illustration{
  display:flex;
  position: absolute;
  top:0;
  right: -210px;
  z-index: 0;
}
.kaufman .section-title{
  margin-top: 90px;
}
.kaufman .section-subtitle{
  margin-top: 20px;
}
/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
.kaufman .table{
  margin-bottom: 90px;
}
/*секция footer и ее классы */
.footer{
  color: white;
  background-color: #1f1f1f;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}
.columns{
  min-height: 350px;
  margin-bottom: 40px;
  margin-top:60px;
  width:90%;
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  position:relative;
  justify-content: space-between;
}
.column__content_copyright{
  min-height: 350px;
  flex-basis: 711px;
  position: relative;
  width: 50%;
}
.logo_place_footer{
  width: 228px;
  height: 32px;
  display:flex;
  position: absolute;
  z-index: 5;
  background-image: url(../images/logo_place_footer.svg);
}
.footer_author{
  display: flex;
  position:absolute;
  margin-top: 18px;
  bottom: 18px;
  left: 0;
  line-height: 25px;
  font-size: 18px;
}
.column__content_info{
  display:inline-block;
  vertical-align: top;
  position: relative;
}
.footer__column-heading{
  line-height: 30px;
  font-size: 18px;
  font-weight: 700;
}
.footer__column-links{
  margin-top: 20px;
  margin-bottom: 16px;
  line-height: 30px;
  font-size: 18px;
}
.footer__column-links .link{
  color: #f2f2f2;
  text-decoration: none;
}
.footer__column-link .link{
  color: #f2f2f2;
  text-decoration: none;
}
.footer__column-link{
  margin-top: 20px;
  margin-bottom: 16px;
  line-height: 30px;
  font-size: 18px;
  color: #f2f2f2;
}
.column__content_social{
  display:flex;
  flex-direction: column;
  position: relative;
}
.footer__social-icon{
  margin-right: 10px;
}